/out/
.idea/
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/JAVA-000.iml
/misc.xml
/modules.xml
/vcs.xml
/Week_03/.mvn/
/Week_03/Week_03.iml
/Week_03/target/
